/*at this rate we're gonna have css files for everything bruh*/
:root
{
    --xmove:0%;
    --ymove:0%;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
#FOFWrapper
{
height:100%;
width:100%;
position: absolute;
top:0;
left:0;
    z-index: 2;
}

#header
{
    z-index: 10;
}
#BG
{
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
        background-image: radial-gradient(rgba(2255,255,255,0.1) 9%,transparent 9%);
        background-position: 0% 0%;
        background-size: 10vmin 10vmin;
        color:white;
        padding: 2%;
        gap:10px;
        transition: 1s all;
        animation:backG infinite linear 10s;
        z-index: 1;
}

#FOFWrapper h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    font-family: 'Cabin', sans-serif;
        background: linear-gradient(to right, rgb(255, 255, 255) 20%, #c6c6c6 30%, #6f6f6f 70%, rgb(255, 255, 255) 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% auto;
        animation: textShine 7s ease-in-out infinite;
}

@keyframes textShine {
    to {
        background-position: 200%;
    }
}

#FOFWrapper h3
{
    margin-left: 25%;
}

@keyframes backG {
    to {
        background-position: var(--xmove) var(--ymove);
    }
}

#smoldog
{
    height:50%;
    width:auto;
    position:relative;
    left:44%;
}