@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
html,body
{
   height:100%;
   width:100%;
   overflow-x: clip;
   background-color: #1f1f1f;
   color:white;
   font-family: 'Nanum Gothic', sans-serif;
}
/*but y tho*/
#header
{
    position: fixed;
    top:0;
    left:0;
    height:7%;
    width:100%;
    background-color: black;
    z-index: 1;
    transition: all .5s;
    color:white;
    display:flex;
    justify-content: space-between;
}

.headerDiv
{
    display: flex;
    height:100%;
    width:10%;
    font-family: 'DM Sans', sans-serif;
    
    align-items: center;
    justify-content: center;
    transition: all .25s;
    user-select: none; 
}

.headerDiv:hover
{
    background-color: #434242;
}

.loadModal
{
    position: fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    opacity:0;
    background-color: black;
    animation: slideOpacity reverse 1.5s ;
    z-index: 8;
    pointer-events: none;
}


.articleParallax
{
    position:relative;
    top:0;
    left:0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*define the height in html*/
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.artParText
{
    font-size: xx-large;
    font-family: 'Red Hat Display', sans-serif;
    color:white;
    background-color: rgba(0, 0, 0, 0.163);
}

a
{
    transition: text-shadow .5s;
}

a:hover{
    text-shadow: 0 0 10px black;
}

article p
{
    margin-left: 5%;
    margin-right: 5%;
}

footer
{
    height:10%;
    width:100%;
    border-top: 1px solid #434242;
    display: flex;
    align-items: center;
}

/*it didnt push but why */